/*#bears, #birds, #bees {
  display: none;
}*/

img {
  width: 100%;
  height: auto;
}

p {
  margin-top: 10px;
}

.highlight {
  background-color: green;
}

/*.thrill-score {
  display: none;
}*/




.rotate {
  -webkit-animation: rotateY 5s infinite linear;
  animation: rotateY 5s infinite linear;
}
@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}
